.action__cart.cart
    button(type="button" disabled).cart__btn
        +svg('cart', 24, 24)
        span.cart__count 0
    .mini-cart
        .mini-cart__top
            ul.mini-cart__list.list-reset
        .mini-cart__bottom
            .mini-cart__total
                span.mini-cart__txt Итого:
                span.mini-cart__sum 0 р
