.advantages {
  margin-bottom: 30px;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 280px;
    margin: 0 auto;

    @include md-block {
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
    }
  }

  &__item {
    display: inline-grid;
    grid-template: auto auto / 85px 1fr;
    padding: 15px 0;
  }

  &__icon {
    align-self: center;
    justify-self: center;
    grid-row: span 2;
  }

  &__title {
    margin: 0 0 rem-calc(2);
    font-weight: 600;
    font-size: rem-calc(18);
    line-height: 150%;
  }

  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: rem-calc(24);
    color: var(--color-gray-3);
  }

  @include md-block {
    margin-bottom: 80px;
  }
}
