.products {
  margin-bottom: var(--s-44);

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: var(--s-32);
    margin-bottom: var(--s-32);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      min-width: 245px;
      font-weight: 600;
      font-size: 1rem;
      line-height: rem-calc(24);
      padding: 12px;
    }
  }
}

.item-product {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;

  &__labels {
    position: absolute;
    right: 8.39%;
    top: 4.55%;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex: 0 0 48px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-weight: 500;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--sale {
      background-color: #e97171;
    }

    &--new {
      background-color: #2ec1ac;
    }
  }

  &__image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px 16px 30px;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__title {
    margin: 0 0 rem-calc(8);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
  }

  &__text {
    margin: 0 0 rem-calc(8);
    line-height: 150%;
    color: var(--color-gray-1);
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 150%;
  }

  &__price {
    font-weight: 600;
    font-size: 20px;

    &--old {
      margin-left: 1rem;
      font-weight: 400;
      font-size: 1rem;
      text-decoration: line-through;
      color: var(--color-gray-3);
    }
  }

  &__actions {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.74);
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    .item-product__actions {
      opacity: 1;
    }
  }
}

.actions-product {
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 202px;
    text-align: center;
  }

  &__button {
    margin-bottom: rem-calc(36);
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
  }

  &__link {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 24px 1fr;
    font-weight: 600;
    font-size: 1rem;
    line-height: rem-calc(24);
    text-align: left;
    color: var(--color-white);
    transition: 0.3s ease-in-out;
    gap: 8px;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.mini-product {
  display: flex;
  align-items: center;
  padding: 12px 15px;

  &__image {
    flex-shrink: 0;
    margin-right: 12px;
    width: 100px;
    height: 100px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__text {
    margin-right: auto;
    max-width: 268px;
  }

  &__title {
    margin: 0 0 14px;
    font: var(--font-text-500);
    line-height: 20px;
    color: var(--color-black);
  }

  &__price {
    font: var(--font-small-500);
    font-weight: 700;
    color: #4d4d4d;
  }

  &__delete {

    @media (min-width: 768px) {
      flex-shrink: 0;
    }
  }
}
