.footer__menu.menu
    .menu__col
        h3.footer-title.menu__title Menu
        ul.menu__list
            li
                a(href="#").menu__link Products
            li
                a(href="#").menu__link Rooms
            li
                a(href="#").menu__link Inspirations
            li
                a(href="#").menu__link About Us
            li
                a(href="#").menu__link Terms & Policy
    .menu__col
        h3.footer-title.menu__title Account
        ul.menu__list
            li
                a(href="#").menu__link My Account
            li
                a(href="#").menu__link Checkout
            li
                a(href="#").menu__link My Cart
            li
                a(href="#").menu__link My Catalog
    .menu__col
        h3.footer-title.menu__title Stay Connected
        ul.menu__list
            li
                a(href="#").menu__link Facebook
            li
                a(href="#").menu__link Instagram
            li
                a(href="#").menu__link Twitter
