footer.footer
    .container.footer__container
        .footer__body
            .footer__main
                a.footer__logo.footer-title(href='#') Funiro.
                p.footer__text
                    | Worldwide furniture store since 2020. We sell over 1000+ branded products on our website
                include contacts/_contacts
            include menu/_menu
            include subscribe/_subscribe
