.search-form
    button(type="button").search-form__btn
        +svg('#search', 20, 20)
    form.search-form__form
        button(type="button").search-form__btn
            +svg('#search', 20, 20)
        input(autocomplete="off" type="text" data-value="Search for minimalist chair").search-form__input
