.search-form
    form.search-form__form
        label
            button(type="button").search-form__btn
                +svg('#search', 20, 20)
            input(autocomplete="off" type="text" placeholder="Search for minimalist chair" data-value="Search for minimalist chair").search-form__input
