.cart {
  &__btn {
    position: relative;

    svg {
      pointer-events: none;
    }

    .cart__count {
      position: absolute;
      right: -10px;
      top: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: rem-calc(12);
      line-height: 1;
      color: var(--color-white);
      background-color: var(--color-primary);
      opacity: 0;
      transition: 0.3s ease-in-out;
      pointer-events: none;

      &--visible {
        opacity: 1;
      }
    }
  }
}

.mini-cart {
  position: absolute;
  right: 0;
  top: calc(100% + 22px);
  width: 480px;
  box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &__top {
    max-height: 323px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--second-offset);
    box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
    background-color: var(--color-white);

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__txt {
    display: block;
    margin-bottom: var(--small-offset);
  }

  &__sum {
    font: var(--prehigh-regular);
    font-weight: 700;
    color: #4d4d4d;
  }

  &__btn {
    padding-top: 14px;
    padding-bottom: 14px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__total {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    width: calc(100vw - 30px);
  }
}
