.cart {
  &__btn {
    position: relative;

    span {
      position: absolute;
      right: -10px;
      top: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: rem-calc(12);
      line-height: 1;
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}
