section.main__advantages.advantages
    .container.advantages__container
        h2.visually-hidden Advantages
        ul.advantages__list.list-reset
            li.advantages__item
                .advantages__icon
                    +svg('trophy', 33, 40)
                h4.advantages__title High Quality
                p.advantages__text Crafted from top materials
            li.advantages__item
                .advantages__icon
                    +svg('guarantee', 44, 40)
                h4.advantages__title Warranty Protection
                p.advantages__text Over 2 years
            li.advantages__item
                .advantages__icon
                    +svg('shipping', 52, 40)
                h4.advantages__title Free Shipping
                p.advantages__text Order over 150 $
            li.advantages__item
                .advantages__icon
                    +svg('customer-support', 48, 40)
                h4.advantages__title 24 / 7 Support
                p.advantages__text Dedicated support
