.footer__subscribe.subscribe
    h3.subscribe__title.footer-title Stay Updated
    form.subscribe__form
        input.subscribe__input.input(placeholder="Enter your email" required type="email")
        button.subscribe__button(type="submit")
            +svg('#send', 24, 24)
