.footer__contacts.contacts
    a.contacts__item(href='#')
        +svg('#geo', 20, 20)
        |Sawojajar Malang, Indonesia
    a.contacts__item(href="tel:+62894563455")
        +svg('#phone', 20, 20)
        | +6289 456 3455
    a.contacts__item(href="https://www.funiro.com" target="_blank")
        | www.funiro.com
